[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
django = "*"
google-api-python-client = "*"
django-ordered-model = {git = "https://github.com/bfirsh/django-ordered-model",ref = "3b8768a2dc425f1d24ef0b03f56567db23257a52"}
uwsgi = "*"
systemd = "*"

[requires]
python_version = "3.6"
